* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/background-portfolio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*
Top Page
*/

.header-box {
    background: lightgray;
}

.tesla {
    font-size: 70px;
    color: white;
}

.links {
    padding: 3px;
}

a {
    color: white;
    font-size: 15px;
}

a:hover {
    color: red;
    font-size: 20px;
}

/*
Content
*/

img {
    width: 300px;
    height: 200px;
}

.tesla-img:hover {
    border: 10px solid white;
}

/*
footer
*/

.footer-box {
    color: white;
}

/*
Media screen
*/

@media screen and (max-width: 980px) {

    .container {
        width: 100%;
    }
    
    .collapse-10 {
        float: left;
        clear: both;
        width: 100%;
    }
    
    }
    
    @media screen and (max-width: 768px) {
    
    .container {
        width: 100%;
    }
    
    .collapse-10 {
        float: left;
        clear: both;
        width: 100%;
    }
        
    }
    
    @media screen and (max-width: 640px) {
    
    .container {
        width: 100%;
    }
    
    .collapse-10 {
        float: left;
        clear: both;
        width: 100%;
    }

    }